In [112]:

pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (2.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\sumit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [113]:

import numpy as ny
import pandas as pd
import matplotlib.pyplot as plt

In [114]:
df = pd.read_csv(r'C:/Users/Sumit/OneDrive/Documents/GITHUB IBM DA/India-Energy-Analytics-Model/India_monthly_data.csv')

In [115]:
df

,yyyymm,PET.LPG.CON,PET.NAP.CON,PET.MSP.CON,PET.ATF.CON,PET.SKO.CON,PET.HSD.CON,PET.LDO.CON,PET.LUB.CON,PET.SEC.CON,...,IDY.PRD.OEA.CEM.OLD,IDY.PRD.OEA.ELY.OLD,IDY.PRD.OEA.COL,IDY.PRD.OEA.CRU,IDY.PRD.OEA.GAS,IDY.PRD.OEA.PET,IDY.PRD.OEA.FER,IDY.PRD.OEA.STL,IDY.PRD.OEA.CEM,IDY.PRD.OEA.ELY
0,199804,394.468560,596.087000,447.684830,178.092280,1021.889150,3193.433810,89.100710,56.266910,835.622150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,199805,392.533620,709.010740,489.861050,177.902250,1128.395960,3273.822260,99.722180,78.276240,951.926110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,199806,381.081170,627.708910,461.986710,165.273900,1000.898400,3192.914950,99.901790,93.205370,930.760070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,199807,438.121520,806.934410,451.382820,168.707920,934.154420,2920.608970,108.887290,77.266000,1090.239400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,199808,415.307680,750.952250,449.519060,169.776980,969.680470,2625.253930,111.397420,88.296370,1060.638810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,202402,2607.690671,1142.266179,3022.599611,705.127891,36.109809,7442.683143,62.551236,335.901806,523.446371,...,NaN,NaN,97.507,2331.962,2886.054,22430.840,3661.4,12797.0,37156.0,136784.82
311,202403,2612.456364,1134.643700,3323.510147,757.865799,31.647722,8007.097386,66.766067,376.440508,527.440956,...,NaN,NaN,117.647,2503.734,3070.490,24886.792,3768.5,13726.0,41968.0,149249.03
312,202404,2369.754499,1216.994045,3284.506193,742.440807,26.731549,7924.990999,50.964542,375.627534,526.317381,...,NaN,NaN,79.664,2421.348,2899.061,23355.738,3807.7,13118.0,36543.0,154932.88
313,202405,2393.920452,1084.785855,3462.927638,743.315150,30.024985,8407.652820,62.468792,341.470663,557.992635,...,NaN,NaN,84.904,2472.400,3049.640,24013.230,4392.3,13074.0,36386.0,166181.03
314,202406,2304.951478,1072.294715,3296.147580,706.829286,36.375199,7983.876277,65.044229,353.808521,536.192539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
print(df["IDY.PRD.OEA.ELY"])

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
310    136784.82
311    149249.03
312    154932.88
313    166181.03
314          NaN
Name: IDY.PRD.OEA.ELY, Length: 315, dtype: float64

In [117]:
electricity = df["IDY.PRD.OEA.ELY"]
year= df.yyyymm

In [118]:
df['Year'] = df['yyyymm'] // 100
df['Month'] = df['yyyymm'] % 100

In [119]:
df['Financial_Year'] = df.apply(
    lambda row: f"{row['Year']}-{row['Year'] + 1}" if row['Month'] >= 4 else f"{row['Year'] - 1}-{row['Year']}",
    axis=1
)
ap = df.groupby('Financial_Year')['IDY.PRD.OEA.ELY'].sum().reset_index()
ap.columns = ['Financial_Year', 'Total_Electricity_Production']

print(ap)

   Financial_Year  Total_Electricity_Production
0   1998.0-1999.0                          0.00
1   1999.0-2000.0                          0.00
2   2000.0-2001.0                          0.00
3   2001.0-2002.0                          0.00
4   2002.0-2003.0                          0.00
5   2003.0-2004.0                          0.00
6   2004.0-2005.0                          0.00
7   2005.0-2006.0                          0.00
8   2006.0-2007.0                          0.00
9   2007.0-2008.0                          0.00
10  2008.0-2009.0                          0.00
11  2009.0-2010.0                          0.00
12  2010.0-2011.0                          0.00
13  2011.0-2012.0                     876950.37
14  2012.0-2013.0                     912056.70
15  2013.0-2014.0                     967237.79
16  2014.0-2015.0                    1110458.00
17  2015.0-2016.0                    1173601.97
18  2016.0-2017.0                    1242105.77
19  2017.0-2018.0                    1308195.69
20  2018.0-2019.0                    1375687.69
21  2019.0-2020.0                    1388668.56
22  2020.0-2021.0                    1381838.64
23  2021.0-2022.0                    1491860.07
24  2022.0-2023.0                    1624464.93
25  2023.0-2024.0                    1739091.36
26  2024.0-2025.0                     321113.91

In [120]:
# Remove rows from index 0 to 10 (inclusive)
ap=ap.drop(index=range(0, 16))

# Reset the index if needed
ap=ap.reset_index(drop=True)
print(ap)

   Financial_Year  Total_Electricity_Production
0   2014.0-2015.0                    1110458.00
1   2015.0-2016.0                    1173601.97
2   2016.0-2017.0                    1242105.77
3   2017.0-2018.0                    1308195.69
4   2018.0-2019.0                    1375687.69
5   2019.0-2020.0                    1388668.56
6   2020.0-2021.0                    1381838.64
7   2021.0-2022.0                    1491860.07
8   2022.0-2023.0                    1624464.93
9   2023.0-2024.0                    1739091.36
10  2024.0-2025.0                     321113.91

In [121]:
ap=ap.drop(index=10)
ap

  Financial_Year  Total_Electricity_Production
0  2014.0-2015.0                    1110458.00
1  2015.0-2016.0                    1173601.97
2  2016.0-2017.0                    1242105.77
3  2017.0-2018.0                    1308195.69
4  2018.0-2019.0                    1375687.69
5  2019.0-2020.0                    1388668.56
6  2020.0-2021.0                    1381838.64
7  2021.0-2022.0                    1491860.07
8  2022.0-2023.0                    1624464.93
9  2023.0-2024.0                    1739091.36