In [6]:
import numpy as ny
import pandas as pd

In [10]:
df = pd.read_csv(r'C:/Users/Sumit/OneDrive/Documents/GITHUB IBM DA/India-Energy-Analytics-Model/India_monthly_data.csv')

In [11]:
print(df.head())

   yyyymm  PET.LPG.CON  PET.NAP.CON  PET.MSP.CON  PET.ATF.CON  PET.SKO.CON  \
0  199804    394.46856    596.08700    447.68483    178.09228   1021.88915
1  199805    392.53362    709.01074    489.86105    177.90225   1128.39596
2  199806    381.08117    627.70891    461.98671    165.27390   1000.89840
3  199807    438.12152    806.93441    451.38282    168.70792    934.15442
4  199808    415.30768    750.95225    449.51906    169.77698    969.68047

   PET.HSD.CON  PET.LDO.CON  PET.LUB.CON  PET.SEC.CON  ...  \
0   3193.43381     89.10071     56.26691    835.62215  ...
1   3273.82226     99.72218     78.27624    951.92611  ...
2   3192.91495     99.90179     93.20537    930.76007  ...
3   2920.60897    108.88729     77.26600   1090.23940  ...
4   2625.25393    111.39742     88.29637   1060.63881  ...

   IDY.PRD.OEA.CEM.OLD  IDY.PRD.OEA.ELY.OLD  IDY.PRD.OEA.COL  IDY.PRD.OEA.CRU  \
0                  NaN                  NaN              NaN              NaN
1                  NaN                  NaN              NaN              NaN
2                  NaN                  NaN              NaN              NaN
3                  NaN                  NaN              NaN              NaN
4                  NaN                  NaN              NaN              NaN

   IDY.PRD.OEA.GAS  IDY.PRD.OEA.PET  IDY.PRD.OEA.FER  IDY.PRD.OEA.STL  \
0              NaN              NaN              NaN              NaN
1              NaN              NaN              NaN              NaN
2              NaN              NaN              NaN              NaN
3              NaN              NaN              NaN              NaN
4              NaN              NaN              NaN              NaN

   IDY.PRD.OEA.CEM  IDY.PRD.OEA.ELY
0              NaN              NaN
1              NaN              NaN
2              NaN              NaN
3              NaN              NaN
4              NaN              NaN

[5 rows x 203 columns]